<script setup>
import { defineProps, defineEmits, ref } from 'vue';

const props = defineProps({
    task: Object
});

const emit = defineEmits(['delete-task', 'update-task']);
const isEdited = ref(false);
const editedTitle = ref(props.task.title);

function deleteTask() {
    emit('delete-task', props.task.id);
}

function toggleEdit() {
    isEdited.value = !isEdited.value;
    if (!isEdited.value) {
        updatetask();
    }
}

function updatetask() {
    emit('update-task', { id: props.task.id, newTitle: editedTitle.value });
    editedTitle.value = props.task.title;
}

</script>

<template>
    <li :class="{ completed: task.completed, editing: isEdited }">
        <div class="view">
            <input class="toggle" type="checkbox" v-model="task.completed" />
            <label @dblclick="toggleEdit">{{ task.title }}</label>
            <button class="destroy" @click="deleteTask"></button>
        </div>
        <input class="edit" v-model="editedTitle" @keyup.enter="toggleEdit" @keyup.esc="toggleEdit" />
    </li>
</template>
