<script setup>
import { ref, onMounted } from 'vue';
import TasksList from './components/TasksList.vue';
import TasksFooter from './components/TasksFooter.vue';
import Footer from './components/Footer.vue';
import {storeTask} from './stores/store';

const newTaskContent = ref('');

onMounted(() => {
    storeTask.loadTasks();
});

function addTask() {
    if (newTaskContent.value.trim() !== '') {
        storeTask.addTask({
            title: newTaskContent.value,
            state: false
        });
        newTaskContent.value = '';
    }
}

function deleteOneById(taskId) {
    storeTask.deleteTask(taskId);
}

function updateTask(task) {
    storeTask.updateTask(task);
}
</script>


<template>
    <section class="todoapp">
        <header class="header">
            <h1>todos</h1>
            <input class="new-todo" placeholder="What needs to be done?" v-model.lazy="newTaskContent" @change="addTask"
                autofocus />
        </header>
        <section class="main">
            <input id="toggle-all" class="toggle-all" type="checkbox" />
            <label for="toggle-all">Mark all as complete</label>
            <TasksList :tasks="storeTask.tasks" @delete-task="deleteOneById" @update-task="updateTask" />
            <TasksFooter :tasks="storeTask.tasks" />
        </section>
    </section>
    <Footer />
</template>

<style scoped></style>
